* {
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
}

.button1 {
  position: fixed;
  left: 10%;
  top: 90%;
  z-index: 10;
  height: 5%;
  width: 15%;
}

.button2 {
  position: fixed;
  right: 10%;
  top: 90%;
  z-index: 10;
  height: 5%;
  width: 15%;
}

.nav-element-content {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
  font-size: 50px;
}
