* {
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
}

.button1 {
  position: fixed;
  right: 80%;
  top: 90%;
  z-index: 10;
  height: 5%;
  width: 15%;
  border: none;
}

.button2 {
  position: fixed;
  right: 61.25%;
  top: 90%;
  z-index: 10;
  height: 5%;
  width: 15%;
  border: none;
}

.button3 {
  position: fixed;
  right: 42.5%;
  top: 90%;
  z-index: 10;
  height: 5%;
  width: 15%;
  border: none;
}

.button4 {
  position: fixed;
  right: 23.75%;
  top: 90%;
  z-index: 10;
  height: 5%;
  width: 15%;
  border: none;
}

.button5 {
  position: fixed;
  right: 5%;
  top: 90%;
  z-index: 10;
  height: 5%;
  width: 15%;
  border: none;
}

.button6 {
  position: fixed;
  right: 80%;
  top: 5%;
  z-index: 10;
  height: 5%;
  width: 15%;
  border: none;
}

.nav-element-content {
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.3);
  font-size: 50px;
  width: 100%;
}
